.sub-navbar-container {
  display: flex;
  justify-content: center;
  padding: 18px 0;
  background-color: #F4F4F4;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-color: #FFF;
  position: relative;
}

.sub-nav-links {
  display: flex;
  gap: 30px;
}

.sub-nav-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s; /* Transición suave para el hover */
}

.sub-nav-links a:hover {
  color: black;
}
