.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background-color: #121212;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  color: #FFF;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none; /* Para quitar el subrayado del enlace */
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Asegurarnos de que los elementos internos estén centrados verticalmente */
  width: 500px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 80px;
  padding: 0 24px; /* Solo padding horizontal para dejar espacio al icono y al final del input */
}

.input-bizmo {
  flex: 1;
  height: 58px; /* 2px menos que el contenedor para compensar los bordes */
  font-size: 1.0rem;
  padding: 0 10px;
  font-weight: normal;
  outline: none;
  color: #FFF;
  background-color: transparent;
  border: none; /* Eliminar bordes */
  border-radius: none; /* Eliminar redondeo */
}

.searcher-image {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-color: transparent;
  font-size: 20px;
  Color: #FFF;
  border: none;
  cursor: pointer;
  margin-right: 12px; /* Añadir margen para separar el icono del input */
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a, .nav-links button {
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links a {
  color: #FFF;
}

.nav-links a:hover, .nav-links button:hover {
  background-color: #FAF800;
  color: #121212;
}

.nav-links button {
  border: none;
  background-color: #FAF800;
  color: #121212;
}
